
body{
    background-color: #000000;
   .header{
       margin: auto;
       width: 75%;
       padding: 10px;
    }
    .content{
       margin: auto;
       width: 75%;
       padding: 10px;
    }
    iframe{
        margin: auto;
    }

    h1{
        font-family: Helvetica, Sans-serif;
        font-weight: Bold;
        font-size: 50px;
        color: #ffffff;
    }
    h2{
        font-family: Helvetica, Sans-serif;
        font-weight: Bold;
        font-size: 25px;
        color: #ffffff;
    }
    p{
        font-family: Helvetica, Sans-serif;
        font-weight: normal;
        font-size: 15px;
        color: #ffffff;
    }
    audio{
        color: #303030;
    }
    table{
        
        font-family: Helvetica, Sans-serif;
        font-weight: Bold;
        font-size: 20px;
        color: #ffffff;
        
    }
}
